.chess-container {
  /* border: 1px solid black; */
  margin: auto;
  display: flex;
  flex-direction: column;
}

.chess-row {
  display: flex;
  flex-direction: row;
}

.chess-block-green {
  background-color: black;
}

.chess-block-red {
  background-color: white;
}

.chess-number {
  margin-right: 10px;
  align-content: center;
}
